<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-3">
                                <h1 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h1>
                            </div>

                            <div class="col-md-1">
                                <a class="btn btn-default" href="#"
                                   th:href="@{'/recipe/' + ${recipe.id} + '/image-upload'}" role="button">Change Image</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li th:each="category : ${recipe.categories}"
                                        th:text="${category.description}"></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <img th:src="@{'/recipe/' + ${recipe.id} + '/image'}" width="200" height="200" alt="Image not found">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.prepTime + ' Min'}"></p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cook time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.cookTime + ' Min'}"></p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}"></p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.url}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="col-md-11 ">
                            <h1 class="panel-title">Ingredients</h1>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-default" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}"
                               role="button">View</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:each="ingredient : ${recipe.ingredients}"
                                        th:text="${ingredient.amount
                                         + ' ' + ingredient.unitOfMeasure.description
                                          + ' - ' + ingredient.description}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Direction</div>
                    </div>
                    <div class="panel-body">
                        <p th:text="${recipe.direction}"></p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Note</div>
                    </div>
                    <div class="panel-body">
                        <p th:text="${recipe.note.recipeNote}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>